http:// {
    # Compress responses according to Accept-Encoding headers
    encode gzip zstd

    # Try file path first, and fallback to root index
    # try_files {path} /

    # header /assets/* Cache-Control max-age=31536000

    uri strip_prefix /wordle-solver

    file_server browse
}
