@import "tailwindcss";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  font-weight: normal;
  margin: 2rem auto;
}

@utility btn {
  @apply mx-2 my-1 cursor-pointer rounded border px-4 py-2 font-bold;
}

@utility btn-sugg {
  @apply btn border-gray-500 bg-blue-400 text-white hover:bg-blue-500 focus:outline-2 focus:outline-offset-2 focus:outline-blue-500 active:bg-blue-600;
}

@utility btn-kb {
  @apply btn mx-1 border-gray-300 bg-white text-gray-700 hover:bg-red-500;
}
